/* IMPORTATION DE LA POLICE D'ECRITURE UTILISER SUR LE SITE */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* L'ARRIERE PLAN DU SITE AVEC SONT DEGRADE ET SA DISPOSITION */

 body {
   background: -webkit-linear-gradient(left,#41dde2, #0276fa);
   background-size: contain;
   text-align: center;
   margin: 0;
   padding: 0;
 }

 /* CARRE BLANC QUI SE TROUVE DERRIERE LE FORMULAIRE D'INSCRIPTION */

.whitebox {
   width: 430px;
   background: #fff;
   border-radius: 10px;
   padding: 15px 50px;
   margin: auto;
   margin-top: 125px;
   position: relative;
   
   box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
   -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
   -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
   -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
   -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

/* TAILLE DES POLICES D'ECRITURES DANS TOUT LES LABELS ET LES CHAMPS */

form {
   font-size: 12px;
   font-family: Poppins;

}

/* POUR ENLEVER LES BORDURES PAR DEFAULT NOIR SUR LES CHAMPS */

div .nom, .email, .tel, .website, .date, .civilite{
   border: none;
   border-color: #29c6df;
}

/* ESPACE ENTRE CHAQUE LABEL ET SON CHAMP QUI L'ACCOMPAGNE */

.formsp {
   padding: 10px;
}

/* TAILLE DU LOGO WEBACADEMIE */

.logo img {
   width: 305px;
}

/* STYLE CSS POUR QUE LES CHECKBOX ET LES RADIO EN CLIQUANT DECU SOIT DE LA COULEUR BLEU ET NON LA COULEUR NOIR PAR DEFAUT */

input[name="sexe"]{
   accent-color: hsla(205, 69%, 50%, 0.43);
}

input[name="hobbies"]{
   accent-color: hsla(205, 69%, 50%, 0.43);
}

/* ---------------- */

/* STYLE GRAS DE LA POLICE D'ECRITURE POUR LES LABEL */

label{
   font-weight: bold;
}

/* POSITION ET TAILLE DES LABEL DANS LE FORMULAIRE / POSITION DU TEXT DES INPUT DANS LE FORMULAIRE ET DE LA CASE SPORT */

.formsp label{
   display: block;
   float:left;
   width: 150px;
}

.whitebox .formsp input{
   text-align: center;
}

#sport{
   margin-left: 150px;
}

/* LE BOUTON VALIDATION DU FORMULAIRE AVEC SON ANIMATION ET SONT OMBRE NOIR */

#submit{
   color:#000000;
   padding: 4px 10px;
   background: none;
   border-radius: 5px;
   font-weight: bold;
   box-shadow: 3px 2px black;
   transition: all 0.3s ease-in-out;
   outline: 1mm ridge transparent;
}

#submit:hover{
   outline: 1mm outset hsla(205, 69%, 50%, 1);
   -webkit-transform: scale(1.2);
   -ms-transform: scale(1.2);
   transform: scale(1.2);
   box-shadow: none;
}

/* STYLE CSS DES BORDURES DES CHAMP CIBLE PAR DES #ID FONT UNE BORDURE DE COULEUR BLEU AUTOUR DES CHAMPS */

#telfocus, #civilite{
   border: 2px dashed hsla(205, 69%, 50%, 0.2);
}

#focusnom, #focusemail, #focuswebsite, #focusbirthday{
   border: 2px solid hsla(205, 69%, 50%, 0.2);

}

/* POUR L'ID# CIVILITE SA DIPOSITION SA TAILLE ET RETIRE LE BACKGROUND DU SELECT DE BASE / TAILLE DE L'ID #FOCUSBIRTHDAY */

#civilite{
   background: none;
   width: 211px;
   text-align: center;
}

#focusbirthday{
   width: 202px;
}

/* STYLE CSS POUR L'ERREUR RETOURNER PAR JAVASCRIPT AFFICHER EN CAS DE NON REMPLISSAGE DES INPUT */

#erreur{
   font-size: 12px;
   font-family: Poppins;
   color:red;
}